.freinds-ul {
    display: block;
    box-shadow: 3px 4px 15px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.1);
}
.freinds-ul li {
    height: 70px;
    width: auto;
    margin: 5px 0 0 0;
    padding: 0 0 0 15px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    display: block;
}
.btn-add-friends {
    display: block;
    height: 40px;
    width: 170px;
    background: #26A69A;
    position: absolute;
    bottom: 14px;
    right: 10px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1px 3px 10px rgba(0,0,0,.1);
}
.btn-add-friends:hover {
    transition: all .2s ease-in-out;
    background: #4DB6AC;
}
.li-user a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    height: 20px;
    width: 220px;
    display: block;
    margin: 10px;
    position: absolute;
}
.user-name {
    display: block;
    position: absolute;
    height: 20px;
    width: auto;
    margin: 35px 0 0 10px;
}
.seach-users {
    width: 350px;
    height: 30px;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.4);
}
.btn-seach {
    background: #26A69A;
    height: 30px;
    width: 70px;
    border: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
    color: black;
}
@media screen and (max-width: 450px) {
    .seach-users {
        width: 260px;
    }
    .btn-seach {
        width: 60px;
    }
    .btn-add-friends {
        width: 120px;
        height: 50px;
        bottom: 10px;
    }
}
@media only screen and (max-device-width: 480px) {
    .seach-users {
        width: 300px;
    }
    .btn-seach {
        width: 60px;
    }
}